nav {
  overflow: auto;
  color: #fff;
}

/*
Main
 */
.navHead {
  height:10%;
}

.navbar-brand{
  font-size: 30pt;
}

.nav-item{
  font-size: 16pt;
}

#videoBG
 {
    position:fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.jumbotron {
  text-align: center;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-container .btn {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}
