nav{
overflow: auto;
}

#vitaeMaterial {
  text-align: left;
  transform: translate(0%, 0%);
  width: inherit;
}

#vitaeCard {
  text-align: left;
  width: inherit;
  transform: translate(5%, 0%);
}

#vitaeTitle {
  font-size: 20pt;
}

#vitaePoint {
  padding-left: 2em
}

#vitaeIndent {
  padding-left: 4em
}

.card-text{
  display:block;
  width: inherit;
  word-wrap: break-word;
}

.navHead {
  height:10%;
}

.navbar-brand{
  font-size: 30pt;
}

.nav-item{
  font-size: 16pt;
}
