nav{
overflow: auto;
}
/*
Vitae
 */
#vitaeMaterial {
  text-align: left;
  transform: translate(0%, 0%);
  width: inherit;
}
#vitaeCard {
  text-align: left;
  width: inherit;
  transform: translate(5%, 0%);
}
#vitaeTitle {
  font-size: 20pt;
}

#vitaePoint {
  padding-left: 2em
}

#vitaeIndent {
  padding-left: 4em
}

.card-text{
  display:block;
  width: inherit;
  word-wrap: break-word;
}

/*
Main
 */
.navHead {
  height:10%;
}

.navbar-brand{
  font-size: 30pt;
}

.nav-item{
  font-size: 16pt;
}


ul.social-network {
	list-style: none;
	display: inline;
  float:right;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoGithub:hover {
	background-color:#000000;
}
.social-network a.icoInstagram:hover {
	background-color:#833AB4;
}

.social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGithub:hover i, .social-network a.icoLinkedin:hover i, {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #464646;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}
