nav{
overflow: auto;
}

#thesisMaterial {
  text-align: left;
  transform: translate(0%, 0%);
  width: inherit;
  font-size: 20px;
}

#thesisCard {
  max-width: 90%;
  text-align: left;
  width: inherit;
  transform: translate(5%, 0%);
}

#thesisTitle {
  font-size: 24pt;
}

#thesisPoint {
  padding-left: 2em
}

#thesisIndent {
  padding-left: 4em
}

figcaption {
  font-size: 14px;
}

.card-text{
  display:block;
  width: inherit;
  word-wrap: break-word;
  font-size: 16px;
}

.navHead {
  height:10%;
}

.navbar-brand{
  font-size: 30pt;
}

.nav-item{
  font-size: 16pt;
}
